openapi: 3.1.0
info:
  title: 3Bar Biologics Search API
  version: wp/v2
  description: Public, unauthenticated cross-content search over 3barbiologics.com, returning lightweight
    id / title / url / type / subtype records that are cheap to page and resolve. Verified live on 2026-09-05
    at 58 matches for the query `biologics`.
  contact:
    name: 3Bar Biologics
    email: Sales@3BarBiologics.com
    url: https://www.3barbiologics.com/contact-us/
  x-generated-from: the server's own published route index (GET /wp-json/) and per-route JSON Schemas
    (HTTP OPTIONS), fetched 2026-09-05. No part of this document was authored from documentation or inference.
  x-provenance:
    method: derived
    source: https://www.3barbiologics.com/wp-json/
    fetched: '2026-09-05'
servers:
- url: https://www.3barbiologics.com/wp-json
  description: 3BarBio WordPress REST API root.
tags:
- name: Search
  description: Public, unauthenticated cross-content search over 3barbiologics.com, returning lightweight
    id / title / url / type / subtype records that are cheap to page and resolve.
paths:
  /wp/v2/search:
    get:
      operationId: searchContent
      summary: Search across all public content types
      description: 'Cross-content search over 3barbiologics.com — posts and pages — returning lightweight
        id / title / url / type / subtype records rather than full objects. Verified live on 2026-09-05:
        the query `biologics` returned X-WP-Total 58.'
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: subtype
        in: query
        required: false
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          default: any
          items:
            enum:
            - post
            - page
            - e-floating-buttons
            - elementor_library
            - category
            - post_tag
            - any
            type: string
      - name: type
        in: query
        required: false
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      responses:
        '200':
          description: A page of search results.
          headers:
            X-WP-Total:
              description: Total records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 web links; carries rel="next" / rel="prev".
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          description: '`rest_invalid_param` — a query parameter failed validation.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    SearchResult:
      type: object
      properties:
        id:
          description: Unique identifier for the object.
          type:
          - integer
          - string
        title:
          description: The title for the object.
          type: string
        url:
          description: URL to the object.
          type: string
          format: uri
        type:
          description: Object type.
          type: string
          enum:
          - post
          - term
          - post-format
        subtype:
          description: Object subtype.
          type: string
          enum:
          - post
          - page
          - e-floating-buttons
          - elementor_library
          - category
          - post_tag
      description: A lightweight cross-content search result, exactly as the server publishes its schema
        at OPTIONS https://www.3barbiologics.com/wp-json/wp/v2/search.
    Error:
      type: object
      description: The WordPress REST error envelope. Match on `code`; `message` is localized and not
        stable.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. `rest_invalid_param`.
        message:
          type: string
          description: Human-readable, localized message. Do not parse.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: The HTTP status code, repeated in the body.
            params:
              type: object
              additionalProperties:
                type: string
              description: 'Present only on `rest_invalid_param`: parameter name to validation message.'
      required:
      - code
      - message
